body{
    box-sizing: border-box;
    margin: 0;
    background-color:#fffbfb;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h,h6,p{
    margin: 0;
}
/* .clients__section{
    background-color:#E5E5E5;
} */
.header-class {
    display: flex;
    padding: 10px 25px;
    background-color: #772D8B;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-class img {
    width: 12px;
    height: 12px;
    margin-left: 10px;
}


.arrow-option {
    margin-right: 160px;
    align-content: center;
    margin-top: 6px;
}

.find-out {
    text-decoration: none;
    cursor: pointer;
}

.nav-bar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #772D8B;
    padding: 8px 25px 8px 34px;
    height:27px;
    margin:auto;
}

#join {
    color:orange;
    margin-right: 70px;
}


#how {
    color:rgb(255, 255, 255);
    margin-right: 40px;
}

.nav-bar2 {
    display: flex;
    background-color: #00000042;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}



.nav-logo {
    height: 50px;
}

.nav-logo img{
    height: 100%;
}

.need-help {
    text-align: center;
}

.need-help {
    text-align: center;
}

.number {
    color: #FFC42D;
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    color: #fff;
    margin-right: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.request-call {
    display: flex;
}

.request-call-btn {
    background: #EE2B7A;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    width: 180px;
    cursor: pointer;
}

.first-section {
    background-image: url(/assets/images/background.svg);
    height: 668px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.center-focus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 40px;    
}

.we-provide {
    padding: 90px 30px;
    margin-left: 68px;
}
.display__sm{
    display: none;
}
.we-provide h1 {
    font-size: 50px;
    font-weight: normal;
}
.third-section{
    margin-top: 80px;
}
.login-bar {
    background-color: #373737C9;
    margin-right: 120px;
    padding: 50px;
    border-radius: 5px;
}

.login-text {
    font-weight: bold;
}

input[type=text] {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding: 6px;
    color: #373737C9 ;
  }

  input[type=password] {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    padding: 6px;
    color: #373737C9 ;
  }

  .form-bar p {
      font-size: 10px;
      color: #B6C4DA;
      margin-left: 140px;
      cursor: pointer;
  }

  .login-btn button{
    background: #EE2B7A;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 218px;
    cursor: pointer;
  }

  .dont-have-acct {
      font-size: small;
      margin-top: 10px;
      text-align: center;
  }

  .sign-up {
      color:#EE2B7A;
      cursor: pointer;
  }

  .section-bar {
      display: flex;
      margin-left: 40px;
      margin-right: 40px;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 30px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .about {
      color: #995AAA;
      font-weight: bold;
      margin: 0;
      font-size: small;
  }

  .about-axet-text {
      color: #474747;
      margin: 0;
      font-size: 14px;
  }

.two {  
    display:flex;
    margin-top:48px;
    justify-content: space-between;
    margin-right:20px;
}

.about-axet {
    color:#995AAA;
    margin-top:48px;
    margin-left: 68px;
}

.second-section{
    padding-top: 130px;;
}

.who-we-are {
    color: #000000;
    font-size: 50px;
    font-weight:400;
    margin-top:10px;
    margin-bottom: 20px;
    margin-left: 68px;
}

.content {
    color:#000000;
    margin-top: 0;
    margin-left: 68px;
    padding: 0 130px 0 0;
    line-height: 200%;
}


  .service-provide {
    color: #995AAA;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: small;
  }

  .our-services {
    font-size: 50px;
    font-weight: normal;
    color: #464343;
    margin: 0;
    text-align: center;
  }

  .our-service-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 25px;
      margin-right: 40px;
      margin-top: 30px;
  }

  .support-bar {
      background-image: url(./assets/icons/our-services-bg.svg);
      width: 200px;
      height: 350px;
      margin-left: 40px;
      padding: 30px;
      box-shadow: #474747;
  }

  .support-bar img {
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      padding-top: 20px;
      padding-left: 20px;
  }

  .support-bar p {
      font-size: small;
      font-weight: 1000;
      color: #565656;
      margin-top: 40px;
      text-align: center;
      padding-left: 20px;
      font-size: 14px;
  }

  .support-text p {
      font-size: 14px;
      text-align: center;
      color: #565656;
      padding-left: 20px;
      font-weight: normal;
  }

  .construction-bar {
    background-image: url(/icons/our-services-bg.svg);
    width: 200px;
    height: 350px;
    margin-left: 60px;
    padding: 30px;
    box-shadow: #474747;
}

.construction-bar img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.construction-bar p {
    font-size: small;
    font-weight: 1000;
    color: #565656;
    margin-top: 40px;
    text-align: center;
    padding-left: 20px;
    font-size: 14px;
}

.construction-text p {
    font-size: 14px;
    text-align: center;
    color: #565656;
    padding-left: 20px;
    font-weight: normal;
}

.crane-bar {
    background-image: url(/icons/our-services-bg.svg);
    width: 200px;
    height: 350px;
    margin-left: 60px;
    padding: 30px;
    box-shadow: #474747;
}

.crane-bar img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.crane-bar p {
    font-size: small;
    font-weight: 1000;
    color: #565656;
    margin-top: 40px;
    text-align: center;
    padding-left: 20px;
    font-size: 14px;
}

.crane-text p {
    font-size: 14px;
    text-align: center;
    color: #565656;
    padding-left: 20px;
    font-weight: normal;
}

.crushing-bar {
    background-image: url(/icons/our-services-bg.svg);
    width: 200px;
    height: 350px;
    margin-left: 60px;
    padding: 30px;
    box-shadow: #474747;
}

.crushing-bar img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
}

.crushing-bar p {
    font-size: small;
    font-weight: 1000;
    color: #565656;
    margin-top: 40px;
    text-align: center;
    padding-left: 20px;
    font-size: 14px;
}

.crushing-text p {
    font-size: 14px;
    text-align: center;
    color: #565656;
    padding-left: 20px;
    font-weight: normal;
}
.about__image{
    margin-top: 150px;
}
/* HOW IT WORKS */
.our-services {
    font-family:'Open-sans', sans-serif,   ;
}
.provide {
    color: rgba(153, 90, 170, 1);
    font-size: 14px;
    padding-top: 50px ;
    padding-left: 50%;
}
.our {
    font-size: 40px;
    color: #474747;
    font-weight: 300;
    padding-left: 534px;
}
.ops {
    display: flex;
    justify-content: space-between;
    /* margin-right: 20px; */
}
.rectangle {
    position: relative;
    margin: 29px 84px 29px 84px;
    z-index: 1;
}
.support-img {
    position: absolute;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 50px;
    z-index: 2;
}
h6 {
    /* padding-left: 20px; */
    font-size: 18px;
    color: #565656;
    ;
}
p{
    font-size: 10px;
}

.f2 {
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07); 
    border-style: none;
}


.work-flow {
    background-image: url(/assets/icons/section_men-1\ 1.png);
    color: white;
}
.flow  {
    text-align: center;
    padding-top: 30px;
}
.works {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
.our-works {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.vector {
    padding: 25px;
    border:  5px solid #EE2B7A;
    border-radius: 100%; 
}
.para {
    text-align: center;
    justify-content: center;
    font-size: 14px;
}
.choose {
    text-align: center;
}
.pay  {
    text-align: center;
}
.pick {
    text-align: center;
    padding: 10px;
}
.pick h4, .select h4, .choose h4, .pay h4{
    margin: 10px 0;
}
.select {
    text-align: center;
}

.container{
    padding: 20px;
}
.clients__heading,
.news__heading,
.brands__heading{
    text-align: center;
    margin: 60px 0 63px 0;
}
.clients__heading h4{
    color: #995AAA;
    font-size: 14px;
}
.clients__heading h3,
.news__heading h3,
.brands_section h3{
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    color: #474747;
}
.clients__row,
.news__row,
.footer__row{
    display: flex;
}
.client__col{
    padding: 25px;
    line-height: 22px;
    margin: 20px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F9F9F9;
    box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
}
.client__col p,
.news__col p {
    font-size: 15px;
    line-height: 35px;
}
.client__col img{
    border-radius: 100%;
    margin: 24px;
}
/* NEWS HEADING */
.news {
    width: 100%;
}

.news img{
    width: 100%;
   
}
.news__heading h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
}
.news__heading p{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin: 9px 0;
}
.news__col{
    padding: 5px;
    line-height: 22px;
    margin: 25px 10px;
    text-align: center;
    /* width: 30%; */
}
.news__col h3{
    color: #565656;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    margin: 23px 0;
}
.btn {
    background: #EE2B7A;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 25px 0;
}
iframe{
    width: 100%;
    height: 350px;
}
/* BRANDS */
.brands_section{
    background: #f5eeee;
    margin-bottom: 60px;

}
.brands__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.brand{
    width: 150px;
}
.brand img{
    width: 100%;
}
/* FOOTER */
footer{
    background: #333333;
    color: white;
}
.footer__col {
    width: 33%;
    padding: 30px;
    line-height: 30px;
}
.footer__col h4{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 50px 0 19px 0;
}
.footer__col p{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.contact__details {
    display: flex;
    margin: 16px 0;
}
.contact__details img{
    margin-right: 20px;
}
.under__line p{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.under__line p:not(:first-child){
    padding-top: 10px;
}
.copyright__section{
    background: white;
    padding: 12px;
    text-align: center;
    color: #474747;
}

@media screen and (max-width:900px) {
    .two , .our-service-content{
        flex-direction: column;
    }
    .two{
        margin-right: 0;
    }
    .we-provide{
        padding: 20px;
        margin: 0;
    }
    .center-focus{
        margin-top: 0;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .login-bar{
        margin: auto;
        padding: 20px;
        border-radius: 6px;
    }
    .who-we-are h2{
        font-size: 40px;
    }
    .about-axet, .content,
    .who-we-are{
        margin-left: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .first-section{
        height: auto;
    }
    .second-section{
        padding: 40px;
        text-align: justify;
    }
    
    .about__image{
        width: 100%;
        margin-top: 0;
    }
    .about__image img{
        width: 80%;
        margin: 30px;
    }
    .we-provide h1 {
        font-size: 40px;
    }
    ul.nav-list,
    .request-call,
    .need-help{
        display: none;
    }
    .display__sm{
        display: block;
    }
    .nav-bar1 {
        align-items: center;
        background-color: #772D8B;
        padding: 12px 10px;
        height: 65px;
        margin: auto;
        flex-direction: column;
    }
    #join{
        margin-right: 10px;
    }
    .intro{
        margin: 10px 0;
    }
    .work-flow {
        /* background-image:  */
        max-width:100%;
        height:auto;
    }
    .our-works {
        flex-direction: column;
        font-size:5vw;
    }
    p {
        font-size: 2vw;
    }
    .clients__row,
    .news__row,
    .footer__row{
        flex-direction: column;
    }
    .brands__row{
        flex-wrap: wrap;
    }
    .brand{
        width: 150px;
    }
    .brand img{
        width: 100%;
    }
    .footer__col{
        width: 100%;
        padding: 0;
    }
    /* .news {
        width: 200px;
        height: 200px;
    }
    .news img{
        width: 100%;
        height: 100%;
    } */
}